# Repassando o código do Rafa para a planilha do bar

### Importando o pandas

In [40]:
import pandas as pd

### Importando os arquivos CSVs e mostrar a tabela.

In [41]:
df = pd.read_csv('recebimento-detalhado-20231029005807-parte-1-de-1.csv', encoding = "ISO-8859-1", sep=';', skiprows=3)
display(df)

,Status,Tipo de Lançamento,Descrição,Banco,Agência,Conta,Gravame,CNPJ da instituição origem da negociação,Nome da instituição origem da negociação,Estabelecimento,...,Período considerado,Número da operação,Taxa de antecipação,Taxa de embarque,Valor da entrada,Número do pedido,Número da nota fiscal,ID,Data de pagamento na conta Cielo,Unnamed: 46
0,Pago,Venda débito,NaN,Banco Bradesco S.A.,2722,31330-0,Não,-,-,2818696512,...,-,0,"0,00","0,00","0,00",NaN,0.0,NaN,NaN,NaN
1,Pago,Venda débito,NaN,Banco Bradesco S.A.,2722,31330-0,Não,-,-,2818696512,...,-,0,"0,00","0,00","0,00",NaN,0.0,NaN,NaN,NaN
2,Pago,Venda débito,NaN,Banco Bradesco S.A.,2722,31330-0,Não,-,-,2818696512,...,-,0,"0,00","0,00","0,00",NaN,0.0,NaN,NaN,NaN
3,Pago,Venda débito,NaN,Banco Bradesco S.A.,2722,31330-0,Não,-,-,2818696512,...,-,0,"0,00","0,00","0,00",NaN,0.0,NaN,NaN,NaN
4,Pago,Venda débito,NaN,Banco Bradesco S.A.,2722,31330-0,Não,-,-,2818696512,...,-,0,"0,00","0,00","0,00",NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3504,Pago,Venda débito,NaN,Banco Bradesco S.A.,2722,31330-0,Não,-,-,2818696512,...,-,0,"0,00","0,00","0,00",NaN,0.0,NaN,NaN,NaN
3505,Pago,Venda débito,NaN,Banco Bradesco S.A.,2722,31330-0,Não,-,-,2818696512,...,-,0,"0,00","0,00","0,00",NaN,0.0,NaN,NaN,NaN
3506,Pago,Venda débito,NaN,Banco Bradesco S.A.,2722,31330-0,Não,-,-,2818696512,...,-,0,"0,00","0,00","0,00",NaN,0.0,NaN,NaN,NaN
3507,Pago,Venda débito,NaN,Banco Bradesco S.A.,2722,31330-0,Não,-,-,2818696512,...,-,0,"0,00","0,00","0,00",NaN,0.0,NaN,NaN,NaN
3508,Pago,Venda crédito,NaN,Banco Bradesco S.A.,2722,31330-0,Não,-,-,2818696512,...,-,0,"0,00","0,00","0,00",NaN,0.0,NaN,NaN,NaN

### Excluindo as colunas desnecessárias.

In [42]:
excluir_colunas = ["Status", "Descrição", "Banco", "Agência", "Conta", "Gravame", "CNPJ da instituição origem da negociação","Nome da instituição origem da negociação", "Estabelecimento", "Número do cartão", "Código da transação","Código de autorização", "NSU", "Receba Rápido", "Conversor de moedas", "Taxa Conversor de Moedas (%)", "Canal de venda", "Tipo de captura", "Resumo da operação","Tarifa", "Código da venda", "Número da máquina", "Período considerado", "Número da operação", "Número do pedido", "Quantidade de parcelas", "Valor cobrado", "Valor pendente", "Valor total","Taxa de antecipação", "Taxa de embarque", "Valor da entrada", "Número da parcela", "Número da nota fiscal","ID", "Data de pagamento na conta Cielo", "Unnamed: 46"]
df = df.drop(excluir_colunas, axis=1)
df.head()

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
0,Venda débito,29/09/2023,28/09/2023,28/09/2023,Visa,Débito à vista,"R$ 46,00","-R$ 0,98","R$ 45,02","2,13"
1,Venda débito,29/09/2023,28/09/2023,28/09/2023,Visa,Débito à vista,"R$ 56,00","-R$ 1,19","R$ 54,81","2,13"
2,Venda débito,29/09/2023,28/09/2023,28/09/2023,Mastercard,Pré-pago débito,"R$ 25,00","-R$ 0,53","R$ 24,47","2,13"
3,Venda débito,29/09/2023,28/09/2023,28/09/2023,Mastercard,Débito à vista,"R$ 40,00","-R$ 0,85","R$ 39,15","2,13"
4,Venda débito,28/09/2023,27/09/2023,27/09/2023,Visa,Débito à vista,"R$ 31,00","-R$ 0,66","R$ 30,34","2,13"

### Alterando a formatação das datas.

In [43]:
df["Data da autorização da venda"] = pd.to_datetime(df['Data da autorização da venda'], format="%d/%m/%Y")
df["Data do lançamento"] = pd.to_datetime(df['Data do lançamento'], format="%d/%m/%Y")
df["Data de pagamento"] = pd.to_datetime(df['Data de pagamento'], format="%d/%m/%Y")
display(df)

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
0,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,"R$ 46,00","-R$ 0,98","R$ 45,02","2,13"
1,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,"R$ 56,00","-R$ 1,19","R$ 54,81","2,13"
2,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Pré-pago débito,"R$ 25,00","-R$ 0,53","R$ 24,47","2,13"
3,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Débito à vista,"R$ 40,00","-R$ 0,85","R$ 39,15","2,13"
4,Venda débito,2023-09-28,2023-09-27,2023-09-27,Visa,Débito à vista,"R$ 31,00","-R$ 0,66","R$ 30,34","2,13"
...,...,...,...,...,...,...,...,...,...,...
3504,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,"R$ 56,00","-R$ 1,11","R$ 54,89","1,99"
3505,Venda débito,2022-04-01,2022-03-31,2022-03-31,Mastercard,Débito à vista,"R$ 115,00","-R$ 2,29","R$ 112,71","1,99"
3506,Venda débito,2022-04-01,2022-03-31,2022-03-31,Mastercard,Débito à vista,"R$ 21,00","-R$ 0,42","R$ 20,58","1,99"
3507,Venda débito,2022-04-01,2022-03-31,2022-03-31,Mastercard,Débito à vista,"R$ 120,00","-R$ 2,39","R$ 117,61","1,99"
3508,Venda crédito,2022-04-01,2022-03-30,2022-03-30,Mastercard,Crédito à vista,"R$ 45,00","-R$ 2,02","R$ 42,98","4,49"

### Retirar o RS das colunas com valores.

In [44]:
df["Valor bruto"] = df["Valor bruto"].str[3:]
df["Valor descontado"] = df["Valor descontado"].str[3:]
df["Valor líquido"] = df["Valor líquido"].str[3:]

df.head()

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
0,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,"46,00","0,98","45,02","2,13"
1,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,"56,00","1,19","54,81","2,13"
2,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Pré-pago débito,"25,00","0,53","24,47","2,13"
3,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Débito à vista,"40,00","0,85","39,15","2,13"
4,Venda débito,2023-09-28,2023-09-27,2023-09-27,Visa,Débito à vista,"31,00","0,66","30,34","2,13"

### Pegar as colunas com valores, trocando o ponto por nada e a vírgula, pelo ponto, evitando o erro em números como "2.223,00".

In [45]:
df["Valor bruto"] = df["Valor bruto"].apply(lambda x: str(x).replace(".","").replace(",","."))
df["Valor descontado"] = df["Valor descontado"].apply(lambda x: str(x).replace(".","").replace(",","."))
df["Valor líquido"] = df["Valor líquido"].apply(lambda x: str(x).replace(".","").replace(",","."))

df.head()

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
0,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,46.00,0.98,45.02,"2,13"
1,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,56.00,1.19,54.81,"2,13"
2,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Pré-pago débito,25.00,0.53,24.47,"2,13"
3,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Débito à vista,40.00,0.85,39.15,"2,13"
4,Venda débito,2023-09-28,2023-09-27,2023-09-27,Visa,Débito à vista,31.00,0.66,30.34,"2,13"

### Pegar as colunas com valores e mudar para float.

In [46]:
df["Valor bruto"] = df["Valor bruto"].astype('float')
df["Valor descontado"] = df["Valor descontado"].astype('float')
df["Valor líquido"] = df["Valor líquido"].astype('float')

df.head()

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
0,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,46.0,0.98,45.02,"2,13"
1,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,56.0,1.19,54.81,"2,13"
2,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Pré-pago débito,25.0,0.53,24.47,"2,13"
3,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Débito à vista,40.0,0.85,39.15,"2,13"
4,Venda débito,2023-09-28,2023-09-27,2023-09-27,Visa,Débito à vista,31.0,0.66,30.34,"2,13"

### Somando as colunas de valores.

In [47]:
df["Valor bruto"].sum()

164507.97

In [48]:
df["Valor descontado"].sum()

4242.91

In [49]:
df["Valor líquido"].sum()

160265.06

### Separando os pagamentos em crédito.

In [50]:
Pag_cred = df.loc[df['Tipo de Lançamento'] == 'Venda crédito', :]
display (Pag_cred)

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
15,Venda crédito,2023-09-27,2023-09-25,2023-09-25,Mastercard,Crédito à vista,25.0,1.12,23.88,"4,49"
23,Venda crédito,2023-09-26,2023-09-23,2023-09-23,Visa,Crédito à vista,34.0,1.53,32.47,"4,49"
24,Venda crédito,2023-09-26,2023-09-23,2023-09-23,Elo,Crédito à vista,35.0,1.57,33.43,"4,49"
25,Venda crédito,2023-09-26,2023-09-23,2023-09-23,Visa,Crédito à vista,63.0,2.83,60.17,"4,49"
26,Venda crédito,2023-09-26,2023-09-22,2023-09-22,Mastercard,Crédito à vista,15.0,0.67,14.33,"4,49"
...,...,...,...,...,...,...,...,...,...,...
3471,Venda crédito,2022-04-11,2022-04-07,2022-04-07,Visa,Crédito à vista,11.0,0.49,10.51,"4,49"
3484,Venda crédito,2022-04-05,2022-04-02,2022-04-02,Mastercard,Crédito à vista,50.0,2.25,47.75,"4,49"
3485,Venda crédito,2022-04-05,2022-04-01,2022-04-01,Elo,Crédito à vista,42.0,1.89,40.11,"4,49"
3498,Venda crédito,2022-04-04,2022-03-31,2022-03-31,Mastercard,Crédito à vista,101.0,4.53,96.47,"4,49"
3508,Venda crédito,2022-04-01,2022-03-30,2022-03-30,Mastercard,Crédito à vista,45.0,2.02,42.98,"4,49"

### Separando os pagamentos em débito.

In [51]:
Pag_deb = df.loc[df['Tipo de Lançamento'] == 'Venda débito', :]
display (Pag_deb)

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
0,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,46.0,0.98,45.02,"2,13"
1,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,56.0,1.19,54.81,"2,13"
2,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Pré-pago débito,25.0,0.53,24.47,"2,13"
3,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Débito à vista,40.0,0.85,39.15,"2,13"
4,Venda débito,2023-09-28,2023-09-27,2023-09-27,Visa,Débito à vista,31.0,0.66,30.34,"2,13"
...,...,...,...,...,...,...,...,...,...,...
3503,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,4.0,0.08,3.92,"1,99"
3504,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,56.0,1.11,54.89,"1,99"
3505,Venda débito,2022-04-01,2022-03-31,2022-03-31,Mastercard,Débito à vista,115.0,2.29,112.71,"1,99"
3506,Venda débito,2022-04-01,2022-03-31,2022-03-31,Mastercard,Débito à vista,21.0,0.42,20.58,"1,99"
3507,Venda débito,2022-04-01,2022-03-31,2022-03-31,Mastercard,Débito à vista,120.0,2.39,117.61,"1,99"

### Calcular o número de vendas a crédito, a débito e aluguel da máquina.

In [52]:
num_pag = df["Tipo de Lançamento"].value_counts()
display(num_pag)

Tipo de Lançamento
Venda débito          2789
Venda crédito          712
Aluguel de máquina       7
Ajuste a débito          1
Name: count, dtype: int64

### Separando os alugueres da máquina.

In [53]:
alu_maq = df.loc[df['Tipo de Lançamento'] == 'Aluguel de máquina', :]
display(alu_maq)

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
586,Aluguel de máquina,2023-07-06,2023-06-30,2023-06-30,Visa,Crédito à vista,84.16,0.0,84.16,"0,00"
590,Aluguel de máquina,2023-07-05,2023-06-30,2023-06-30,Visa,Crédito à vista,39.15,0.0,39.15,"0,00"
591,Aluguel de máquina,2023-07-05,2023-06-30,2023-06-30,Mastercard,Crédito à vista,37.19,0.0,37.19,"0,00"
748,Aluguel de máquina,2023-06-06,2023-05-31,2023-05-31,Visa,Crédito à vista,22.92,0.0,22.92,"0,00"
763,Aluguel de máquina,2023-06-05,2023-05-31,2023-05-31,Mastercard,Crédito à vista,23.49,0.0,23.49,"0,00"
764,Aluguel de máquina,2023-06-05,2023-05-31,2023-05-31,Visa,Crédito à vista,82.21,0.0,82.21,"0,00"
765,Aluguel de máquina,2023-06-05,2023-05-31,2023-05-31,Mastercard,Crédito à vista,0.82,0.0,0.82,"0,00"

### Soma dos alugueres da máquina.

In [54]:
alu_maq["Valor líquido"].sum()

289.94

### Somando as Vendas Realizadas por bandeiras de cartão.

In [55]:
band_cart = df["Bandeira"].value_counts()
display(band_cart)

Bandeira
Visa                1598
Mastercard          1589
Elo                  305
American Express      15
Hipercard              2
Name: count, dtype: int64

### Somando as Vendas Realizadas pela bandeira Visa.

In [56]:
# Separando os cartões Visa.

band_visa = df.loc[df['Bandeira'] == 'Visa', :]
display(band_visa)

# Somando os valores liquidos.

band_visa["Valor líquido"].sum()

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
0,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,46.0,0.98,45.02,"2,13"
1,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,56.0,1.19,54.81,"2,13"
4,Venda débito,2023-09-28,2023-09-27,2023-09-27,Visa,Débito à vista,31.0,0.66,30.34,"2,13"
5,Venda débito,2023-09-28,2023-09-27,2023-09-27,Visa,Débito à vista,48.0,1.02,46.98,"2,13"
6,Venda débito,2023-09-28,2023-09-27,2023-09-27,Visa,Débito à vista,95.0,2.02,92.98,"2,13"
...,...,...,...,...,...,...,...,...,...,...
3500,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,35.0,0.70,34.30,"1,99"
3501,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,6.5,0.13,6.37,"1,99"
3502,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,56.0,1.11,54.89,"1,99"
3503,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,4.0,0.08,3.92,"1,99"
3504,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,56.0,1.11,54.89,"1,99"

74249.01999999999

### Somando as Vendas Realizadas pela bandeira Mastercard.

In [57]:
# Separando os cartões Mastercard.

band_master = df.loc[df['Bandeira'] == 'Mastercard', :]
display(band_master)

# Somando os valores liquidos.

band_master["Valor líquido"].sum()

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
2,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Pré-pago débito,25.0,0.53,24.47,"2,13"
3,Venda débito,2023-09-29,2023-09-28,2023-09-28,Mastercard,Débito à vista,40.0,0.85,39.15,"2,13"
9,Venda débito,2023-09-28,2023-09-27,2023-09-27,Mastercard,Débito à vista,44.0,0.94,43.06,"2,13"
10,Venda débito,2023-09-28,2023-09-27,2023-09-27,Mastercard,Débito à vista,10.0,0.21,9.79,"2,13"
14,Venda débito,2023-09-27,2023-09-26,2023-09-26,Mastercard,Débito à vista,70.0,1.49,68.51,"2,13"
...,...,...,...,...,...,...,...,...,...,...
3498,Venda crédito,2022-04-04,2022-03-31,2022-03-31,Mastercard,Crédito à vista,101.0,4.53,96.47,"4,49"
3505,Venda débito,2022-04-01,2022-03-31,2022-03-31,Mastercard,Débito à vista,115.0,2.29,112.71,"1,99"
3506,Venda débito,2022-04-01,2022-03-31,2022-03-31,Mastercard,Débito à vista,21.0,0.42,20.58,"1,99"
3507,Venda débito,2022-04-01,2022-03-31,2022-03-31,Mastercard,Débito à vista,120.0,2.39,117.61,"1,99"
3508,Venda crédito,2022-04-01,2022-03-30,2022-03-30,Mastercard,Crédito à vista,45.0,2.02,42.98,"4,49"

76175.20000000001

### Somando as Vendas Realizadas pela bandeira American Express.

In [58]:
# Separando os cartões American Express.

band_amer_expr = df.loc[df['Bandeira'] == 'American Express', :]
display(band_amer_expr)

# Somando os valores liquidos.

band_amer_expr["Valor líquido"].sum()

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
48,Venda crédito,2023-09-25,2023-09-21,2023-09-21,American Express,Crédito à vista,18.0,0.81,17.19,"4,49"
62,Venda crédito,2023-09-21,2023-09-19,2023-09-19,American Express,Crédito à vista,100.0,4.49,95.51,"4,49"
159,Venda crédito,2023-09-05,2023-09-01,2023-09-01,American Express,Crédito à vista,90.0,4.04,85.96,"4,49"
228,Venda crédito,2023-08-28,2023-08-24,2023-08-24,American Express,Crédito à vista,15.5,0.70,14.80,"4,49"
543,Venda crédito,2023-07-11,2023-07-07,2023-07-07,American Express,Crédito à vista,70.0,3.14,66.86,"4,49"
662,Venda crédito,2023-06-23,2023-06-21,2023-06-21,American Express,Crédito à vista,18.0,0.81,17.19,"4,49"
1327,Venda crédito,2023-02-28,2023-02-25,2023-02-25,American Express,Crédito à vista,18.0,0.81,17.19,"4,49"
1560,Venda crédito,2023-01-20,2023-01-18,2023-01-18,American Express,Crédito à vista,3.0,0.13,2.87,"4,49"
2121,Venda crédito,2022-11-04,2022-11-02,2022-11-02,American Express,Crédito à vista,90.0,4.04,85.96,"4,49"
2448,Venda crédito,2022-09-20,2022-09-17,2022-09-17,American Express,Crédito à vista,42.0,1.89,40.11,"4,49"
2780,Venda crédito,2022-07-26,2022-07-23,2022-07-23,American Express,Crédito à vista,20.0,0.90,19.10,"4,49"
2830,Venda crédito,2022-07-19,2022-07-16,2022-07-16,American Express,Crédito à vista,50.0,2.25,47.75,"4,49"
3028,Venda crédito,2022-06-21,2022-06-18,2022-06-18,American Express,Crédito à vista,60.0,2.69,57.31,"4,49"
3384,Venda crédito,2022-04-25,2022-04-21,2022-04-21,American Express,Crédito à vista,189.0,8.49,180.51,"4,49"
3449,Venda crédito,2022-04-12,2022-04-10,2022-04-10,American Express,Crédito à vista,18.0,0.81,17.19,"4,49"

765.5

### Somando as Vendas Realizadas pela bandeira Elo.

In [59]:
# Separando os cartões Elo.

band_elo = df.loc[df['Bandeira'] == 'Elo', :]
display(band_elo)

# Somando os valores liquidos.

band_elo["Valor líquido"].sum()

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
24,Venda crédito,2023-09-26,2023-09-23,2023-09-23,Elo,Crédito à vista,35.0,1.57,33.43,"4,49"
29,Venda crédito,2023-09-26,2023-09-22,2023-09-22,Elo,Crédito à vista,75.0,3.37,71.63,"4,49"
35,Venda débito,2023-09-25,2023-09-23,2023-09-23,Elo,Débito à vista,30.0,0.67,29.33,"2,22"
44,Venda débito,2023-09-25,2023-09-22,2023-09-22,Elo,Débito à vista,22.0,0.49,21.51,"2,22"
56,Venda débito,2023-09-21,2023-09-20,2023-09-20,Elo,Débito à vista,37.0,0.82,36.18,"2,22"
...,...,...,...,...,...,...,...,...,...,...
3422,Venda débito,2022-04-18,2022-04-15,2022-04-15,Elo,Débito à vista,60.0,1.19,58.81,"1,99"
3444,Venda débito,2022-04-12,2022-04-11,2022-04-11,Elo,Débito à vista,17.0,0.34,16.66,"1,99"
3482,Venda débito,2022-04-05,2022-04-04,2022-04-04,Elo,Débito à vista,2.5,0.05,2.45,"1,99"
3485,Venda crédito,2022-04-05,2022-04-01,2022-04-01,Elo,Crédito à vista,42.0,1.89,40.11,"4,49"
3496,Venda débito,2022-04-04,2022-04-01,2022-04-01,Elo,Débito à vista,7.0,0.14,6.86,"1,99"

8933.99

### Somando as Vendas Realizadas pela bandeira Hipercard.

In [60]:
# Separando os cartões Hipercard.

band_hiper = df.loc[df['Bandeira'] == 'Hipercard', :]
display(band_hiper)

# Somando os valores liquidos.

band_hiper["Valor líquido"].sum()

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
2894,Venda crédito,2022-07-12,2022-07-10,2022-07-10,Hipercard,Crédito à vista,140.0,6.29,133.71,"4,49"
2895,Venda crédito,2022-07-12,2022-07-10,2022-07-10,Hipercard,Crédito à vista,8.0,0.36,7.64,"4,49"

141.35

### Filtrando dados por Bandeiras, Formas de Pagamento e Taxas.

In [61]:
#band_visa = df["Forma de Pagamento"].value_counts()
#display(band_visa)


# Defina a ordem desejada para as bandeiras
ordem_bandeiras = ['Visa', 'MasterCard', 'American Express', 'Elo', 'Hipercard']

# Crie uma categoria para as bandeiras com a ordem definida
df['Bandeira'] = pd.Categorical(df['Bandeira'], categories=ordem_bandeiras, ordered=True)

# Limpe as taxas removendo vírgulas e convertendo para tipo numérico
df['Taxas (%)'] = df['Taxas (%)'].str.replace(',', '').astype(float)

# Crie os DataFrames separados para "Débito à vista" e "Crédito à vista" com a coluna "Bandeira"
debito_a_vista = df[df['Forma de Pagamento'] == 'Débito à vista'][['Forma de Pagamento', 'Bandeira', 'Taxas (%)']]
credito_a_vista = df[df['Forma de Pagamento'] == 'Crédito à vista'][['Forma de Pagamento', 'Bandeira', 'Taxas (%)']]

# Exiba os DataFrames para análises
print("Débito à vista:")
print(debito_a_vista)

print("\nCrédito à vista:")
print(credito_a_vista)

Débito à vista:
     Forma de Pagamento Bandeira  Taxas (%)
0        Débito à vista     Visa      213.0
1        Débito à vista     Visa      213.0
3        Débito à vista      NaN      213.0
4        Débito à vista     Visa      213.0
5        Débito à vista     Visa      213.0
...                 ...      ...        ...
3503     Débito à vista     Visa      199.0
3504     Débito à vista     Visa      199.0
3505     Débito à vista      NaN      199.0
3506     Débito à vista      NaN      199.0
3507     Débito à vista      NaN      199.0

[2660 rows x 3 columns]

Crédito à vista:
     Forma de Pagamento Bandeira  Taxas (%)
15      Crédito à vista      NaN      449.0
23      Crédito à vista     Visa      449.0
24      Crédito à vista      Elo      449.0
25      Crédito à vista     Visa      449.0
26      Crédito à vista      NaN      449.0
...                 ...      ...        ...
3471    Crédito à vista     Visa      449.0
3484    Crédito à vista      NaN      449.0
3485    Crédito à vista      Elo      449.0
3498    Crédito à vista      NaN      449.0
3508    Crédito à vista      NaN      449.0

[707 rows x 3 columns]

### Filtros por períodos.

In [62]:
# Filtro mês março
mes_desejado = 3
mes_marco = df[df['Data da autorização da venda'].dt.month == mes_desejado]
display(mes_marco)

# Ano 2022
ano_marco22 = mes_marco[mes_marco['Data da autorização da venda'].dt.year == 2022]
display(ano_marco22)

qtd_vendas = ano_marco22.count()
display(qtd_vendas)
ano_marco22["Valor líquido"].sum()

# Ano 2023 
ano_marco23 = mes_marco[mes_marco['Data da autorização da venda'].dt.year == 2023]
display(ano_marco23)

qtd_vendas23 = ano_marco23.count()
display(qtd_vendas23)
ano_marco23["Valor líquido"].sum()

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
1115,Venda crédito,2023-04-04,2023-03-31,2023-03-31,NaN,Crédito à vista,54.0,2.42,51.58,449.0
1122,Venda débito,2023-04-03,2023-03-31,2023-03-31,Visa,Débito à vista,58.0,1.24,56.76,213.0
1123,Venda débito,2023-04-03,2023-03-31,2023-03-31,Visa,Débito à vista,11.0,0.23,10.77,213.0
1124,Venda débito,2023-04-03,2023-03-31,2023-03-31,Visa,Débito à vista,100.0,2.13,97.87,213.0
1125,Venda débito,2023-04-03,2023-03-31,2023-03-31,NaN,Débito à vista,27.0,0.58,26.42,213.0
...,...,...,...,...,...,...,...,...,...,...
3504,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,56.0,1.11,54.89,199.0
3505,Venda débito,2022-04-01,2022-03-31,2022-03-31,NaN,Débito à vista,115.0,2.29,112.71,199.0
3506,Venda débito,2022-04-01,2022-03-31,2022-03-31,NaN,Débito à vista,21.0,0.42,20.58,199.0
3507,Venda débito,2022-04-01,2022-03-31,2022-03-31,NaN,Débito à vista,120.0,2.39,117.61,199.0
3508,Venda crédito,2022-04-01,2022-03-30,2022-03-30,NaN,Crédito à vista,45.0,2.02,42.98,449.0

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
3498,Venda crédito,2022-04-04,2022-03-31,2022-03-31,NaN,Crédito à vista,101.0,4.53,96.47,449.0
3499,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,45.0,0.90,44.10,199.0
3500,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,35.0,0.70,34.30,199.0
3501,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,6.5,0.13,6.37,199.0
3502,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,56.0,1.11,54.89,199.0
3503,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,4.0,0.08,3.92,199.0
3504,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,56.0,1.11,54.89,199.0
3505,Venda débito,2022-04-01,2022-03-31,2022-03-31,NaN,Débito à vista,115.0,2.29,112.71,199.0
3506,Venda débito,2022-04-01,2022-03-31,2022-03-31,NaN,Débito à vista,21.0,0.42,20.58,199.0
3507,Venda débito,2022-04-01,2022-03-31,2022-03-31,NaN,Débito à vista,120.0,2.39,117.61,199.0
3508,Venda crédito,2022-04-01,2022-03-30,2022-03-30,NaN,Crédito à vista,45.0,2.02,42.98,449.0

Tipo de Lançamento              11
Data de pagamento               11
Data do lançamento              11
Data da autorização da venda    11
Bandeira                         6
Forma de Pagamento              11
Valor bruto                     11
Valor descontado                11
Valor líquido                   11
Taxas (%)                       11
dtype: int64

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
1115,Venda crédito,2023-04-04,2023-03-31,2023-03-31,NaN,Crédito à vista,54.0,2.42,51.58,449.0
1122,Venda débito,2023-04-03,2023-03-31,2023-03-31,Visa,Débito à vista,58.0,1.24,56.76,213.0
1123,Venda débito,2023-04-03,2023-03-31,2023-03-31,Visa,Débito à vista,11.0,0.23,10.77,213.0
1124,Venda débito,2023-04-03,2023-03-31,2023-03-31,Visa,Débito à vista,100.0,2.13,97.87,213.0
1125,Venda débito,2023-04-03,2023-03-31,2023-03-31,NaN,Débito à vista,27.0,0.58,26.42,213.0
...,...,...,...,...,...,...,...,...,...,...
1311,Venda débito,2023-03-02,2023-03-01,2023-03-01,Visa,Débito à vista,17.0,0.36,16.64,213.0
1312,Venda débito,2023-03-02,2023-03-01,2023-03-01,NaN,Débito à vista,18.0,0.38,17.62,213.0
1313,Venda débito,2023-03-02,2023-03-01,2023-03-01,Visa,Débito à vista,60.0,1.28,58.72,213.0
1314,Venda débito,2023-03-02,2023-03-01,2023-03-01,Visa,Débito à vista,20.0,0.43,19.57,213.0
1315,Venda débito,2023-03-02,2023-03-01,2023-03-01,NaN,Débito à vista,1076.0,22.92,1053.08,213.0

Tipo de Lançamento              195
Data de pagamento               195
Data do lançamento              195
Data da autorização da venda    195
Bandeira                         84
Forma de Pagamento              195
Valor bruto                     195
Valor descontado                195
Valor líquido                   195
Taxas (%)                       195
dtype: int64

11966.77

In [63]:
ano_desejado= 2022

ano22 = df[df['Data da autorização da venda'].dt.year == ano_desejado]
display(ano22)

ano_desejado= 2023

ano23 = df[df['Data da autorização da venda'].dt.year == ano_desejado]
display(ano23)

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
1670,Venda crédito,2023-01-03,2022-12-31,2022-12-31,NaN,Crédito à vista,134.0,6.02,127.98,449.0
1671,Venda crédito,2023-01-03,2022-12-31,2022-12-31,Visa,Crédito à vista,19.0,0.85,18.15,449.0
1678,Venda débito,2023-01-02,2022-12-31,2022-12-31,NaN,Débito à vista,21.0,0.45,20.55,213.0
1679,Venda débito,2023-01-02,2022-12-31,2022-12-31,Visa,Débito à vista,40.0,0.85,39.15,213.0
1680,Venda débito,2023-01-02,2022-12-31,2022-12-31,NaN,Débito à vista,10.0,0.21,9.79,213.0
...,...,...,...,...,...,...,...,...,...,...
3504,Venda débito,2022-04-01,2022-03-31,2022-03-31,Visa,Débito à vista,56.0,1.11,54.89,199.0
3505,Venda débito,2022-04-01,2022-03-31,2022-03-31,NaN,Débito à vista,115.0,2.29,112.71,199.0
3506,Venda débito,2022-04-01,2022-03-31,2022-03-31,NaN,Débito à vista,21.0,0.42,20.58,199.0
3507,Venda débito,2022-04-01,2022-03-31,2022-03-31,NaN,Débito à vista,120.0,2.39,117.61,199.0
3508,Venda crédito,2022-04-01,2022-03-30,2022-03-30,NaN,Crédito à vista,45.0,2.02,42.98,449.0

,Tipo de Lançamento,Data de pagamento,Data do lançamento,Data da autorização da venda,Bandeira,Forma de Pagamento,Valor bruto,Valor descontado,Valor líquido,Taxas (%)
0,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,46.0,0.98,45.02,213.0
1,Venda débito,2023-09-29,2023-09-28,2023-09-28,Visa,Débito à vista,56.0,1.19,54.81,213.0
2,Venda débito,2023-09-29,2023-09-28,2023-09-28,NaN,Pré-pago débito,25.0,0.53,24.47,213.0
3,Venda débito,2023-09-29,2023-09-28,2023-09-28,NaN,Débito à vista,40.0,0.85,39.15,213.0
4,Venda débito,2023-09-28,2023-09-27,2023-09-27,Visa,Débito à vista,31.0,0.66,30.34,213.0
...,...,...,...,...,...,...,...,...,...,...
1673,Venda débito,2023-01-02,2023-01-01,2023-01-01,Visa,Débito à vista,64.0,1.36,62.64,213.0
1674,Venda débito,2023-01-02,2023-01-01,2023-01-01,NaN,Débito à vista,28.0,0.60,27.40,213.0
1675,Venda débito,2023-01-02,2023-01-01,2023-01-01,NaN,Débito à vista,14.0,0.30,13.70,213.0
1676,Venda débito,2023-01-02,2023-01-01,2023-01-01,NaN,Débito à vista,11.0,0.23,10.77,213.0
1677,Venda débito,2023-01-02,2023-01-01,2023-01-01,NaN,Débito à vista,14.0,0.30,13.70,213.0